Adding  Policies by coping the xml of the policies to local files.

So I have been following the documentation in:https://authzforce-ce-fiware.readthedocs.io/en/latest/InstallationAndAdministrationGuide.html#high-availability, to add policies to an authzforce server 10.1.1, the problem that I'm facing is that the files with the policies(e.g 0.1.0.xml) are inside folders that have names that appear to be a hash, (e.g /opt/authzforce-ce-server/data/domains/{domainID}/policies/cm9vdA), so if I try to create a new folder (e.g /opt/authzforce-ce-server/data/domains/{domainID}/policies/policiy1), when I make a request to get all the policies of this domain, the policy1 href appears as a bunch of random char's, 

How can I, generate the hash to create the folder to put inside the xml of the policy?

On the filesystem, each policy ID is base64-URL encoded - not hashed - as specified in §5 of RFC 4648; e.g. for the "root" policy, `"cm9vdA" = base64-url-encoded("root")`. Anyway, you are not supposed to create or modify these authzforce data files manually on your own, but use the REST API, in this case the policy administration API:
https://authzforce-ce-fiware.readthedocs.io/en/latest/UserAndProgrammersGuide.html#policy-administration-api .
